# Ignore the .env file
.env

# Ignore Python cache files and directories
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/
.virtualenv/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore logs and temporary files
*.log
*.tmp

# Ignore compiled bytecode
*.pyc

# Ignore any OS-specific files
.DS_Store
Thumbs.db